:root {
    --dark-jungle-green: #002029;
    --gunmetal: #00303D;
    --midnight-green: #004052;
    --eagle-green: #005066;
    --blue-sapphire: #00607A;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;               /* SUPER IMPORTANTE ESPECFICAR HEIGHT Y WIDTH */
    font-family: "Open Sans";
    display: flex;
    flex-direction: column;
}

header {
    display: grid;
    grid-template-columns: auto auto;
    place-content: center;
    background-color: var(--dark-jungle-green);
    color: var(--blue-sapphire);
    width: 100%;
    height: 100px;
    position: sticky;
}

.logo_name {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.logo_name img {
    height: 50%;
    object-fit: cover;
}

.nav-header ul {
    list-style: none;
}

