@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,700;0,800;1,400&family=Silkscreen&display=swap');

:root {
    --dark-jungle-green: #002029;
    --gunmetal: #00303D;
    --midnight-green: #004052;
    --eagle-green: #005066;
    --blue-sapphire: #00607A;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Silkscreen', cursive;
}

body {
    height: 100vh;
    width: 100vw;               /* SUPER IMPORTANTE ESPECFICAR HEIGHT Y WIDTH */
    font-family: "Open Sans";
    display: flex;
    flex-direction: column;
}

header {
    display: grid;
    grid-template-columns: auto auto;
    place-content: center;
    background-color: var(--dark-jungle-green);
    color: var(--blue-sapphire);
    width: 100%;
    height: 10rem;
    position: sticky;
    font-size: 1.6rem;
}

.logo_name {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.logo_name img {
    height: 50%;
    object-fit: cover;
}

.nav-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-header ul {
    list-style: none;
    display: flex;
    gap: 0.8rem;
}

