:root {
    --dark-jungle-green: #002029;
    --gunmetal: #00303D;
    --midnight-green: #004052;
    --eagle-green: #005066;
    --blue-sapphire: #00607A;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr auto;
    background-color: var(--dark-jungle-green);
    color: var(--blue-sapphire);
}