:root {
    --dark-jungle-green: #002029;
    --gunmetal: #00303D;
    --midnight-green: #004052;
    --eagle-green: #005066;
    --blue-sapphire: #00607A;
}

* {
    box-sizing: border-box;
}

img {
    width: 50%;
    height: 50%;
    object-fit: cover;
}

body, p, ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

header {
    display: grid;
    grid-template-columns: 1fr auto;
    background-color: var(--dark-jungle-green);
    color: var(--blue-sapphire);
    width: 100%;
    height: 100px;
    position: sticky;
}

.logo_name {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

