footer {
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--gunmetal);
    padding: 0 1rem;
    font-size: 1.6rem;
    color: white;
}

footer p:first-child{
    width: 50vw;
}