header {
    display: grid;
    grid-template-columns: auto auto;
    background-color: var(--dark-jungle-green);
    color: white;
    width: 100%;
    height: 10rem;
    position: sticky;
    font-size: var(--medium);
}

.logo_name {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    height: 100%;
    max-width: 30rem;
    font-size: var(--xlg);
}

.logo_name img {
    height: 50%;
    object-fit: cover;
}

.nav-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-header ul {
    height: 100%;
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-header ul li a {
    text-decoration: none;
    color: white;
}

.nav-header ul li
,.nav-header ul li a {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-header ul li{
    transition: background-color 0.2s;
}

.nav-header ul li:hover {
    background-color: var(--blue-sapphire);
}
