#nav-list li:last-child { /* QUITAR CUANDO AGREGAMOS EXTRAS */
    display: none;
} 

header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: var(--dark-jungle-green);
    align-items: center;
    justify-items: center;
    color: white;
    width: 100%;
    height: 10rem;
    position: sticky;
    font-size: var(--medium);
    z-index: 1;
}

.logo_name {
    height: 100%;
    max-width: 30rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo_name img, .menu-icon--span img {
    height: 50%;
    object-fit: cover;
}

#menu-icon {
    cursor: pointer;
}

.name {
    font-size: var(--xlg);
}

.nav-header {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-header span {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 2;
}

.nav-list {
    height: 75vh;
    width: 100vw;
    position: absolute;
    top: 0;
    right: 0;
    background-color: var(--dark-jungle-green);
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateY(-100%);
    transition: transform var(--normal-transition-time);
}

.nav-list--show {
    transform: translateY(0%);
    box-shadow: 0px 15px 10px -15px rgb(0, 0, 0);
}

.menu-icon-img--show {
    filter: invert(75%) sepia(47%) saturate(2805%) hue-rotate(168deg) brightness(87%) contrast(102%);
}

.nav-header ul li a {
    text-decoration: none;
    color: white;
}

.nav-header ul li
,.nav-header ul li a {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-header ul li{
    transition: var(--short-transition-time);
    /* border-bottom: 0.4rem solid var(--blue-sapphire); */
}

.nav-header ul li:hover {
    background-color: var(--blue-sapphire);
}
