header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: var(--dark-jungle-green);
    align-items: center;
    justify-items: center;
    color: white;
    width: 100%;
    height: 10rem;
    position: sticky;
    font-size: var(--medium);
}

.logo_name {
    height: 100%;
    max-width: 30rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo_name img, .menu-icon img {
    height: 50%;
    object-fit: cover;
}

.name {
    font-size: var(--xlg);
}

.nav-header {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-header span {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.nav-header ul {
    height: 100%;
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateY(-100%);
}

.nav-list--show {
    transform: translate(0);
}

.nav-header ul li a {
    text-decoration: none;
    color: white;
}

.nav-header ul li
,.nav-header ul li a {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-header ul li{
    transition: background-color 0.2s;
}

.nav-header ul li:hover {
    background-color: var(--blue-sapphire);
}
