.main-social-tree {
    display: flex;
    flex-direction: column;
}

.social-list {
    display: grid;
    grid-template-rows: auto auto auto auto;
    grid-template-columns: auto auto;
    place-items: center;
    row-gap: 2.4rem;
}

.social-list li{
    width: 24vw;
    height: 24vw;
}

.social-list--link{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: var(--midnight-green);
    font-size: 1.6rem;
    gap: 0.4rem;
}

.social-list--link img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

