.main-hero {
    background-color: var(--eagle-green);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-hero-elements {
    display: flex;
    flex-direction: column;
    gap: 8rem;
    color: white;
    font-size: 1.6rem;
    padding: 0 2rem;
}

.hero-description--container {
    display: flex;
    flex-direction: column;
    row-gap: 2.4rem;
}