.main-social-tree {     /* General distribution */
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 3.2rem;
}

.social-tree-title {        /* Styles of CONTAINER of title of social list */
    display: flex; 
    align-content: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 0.8rem;
    margin-bottom: 1.2rem;
    background-color: var(--blue-sapphire);
}

.social-tree-title p{       /* Styles of title of social list */
    font-size: 1.6rem;
    text-align: center;
    color: white;
}

.social-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 2.4rem;
}

.social-list li{        /* Size of Every LI */
    width: 72%;
    height: 5rem;
}

.social-list--link{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100%;
    color: var(--midnight-green);
    font-size: 1.6rem;
    gap: 0.8rem;
    font-weight: bold;
    padding: 0.4rem;
    border: 0.4rem solid var(--blue-sapphire);
    transition: transform color background-color;
    transition-duration: var(--short-transition-time);
}

.img-span {         /* Size of imgs of social list */
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-span img {
    max-width: 100%;
    height: 100%;
    object-fit: contain;
}

@media (any-hover: hover) {
    .social-list--link:hover {           /* hover for list options */
        background-color: var(--blue-sapphire);
        transform: scale(1.1);
        color: white;
    }
}

@media only screen and (min-width: 768px) {  /* Tablet */
    .social-list {
        width: 96%;
        display: flex;
        flex-direction: row;
        justify-items: center;
        align-content: center;
        gap: 1.2rem;
    }

    .main-social-tree {     /* General distribution */
        align-items: center;
        margin-bottom: 2.4rem;
    }

    .social-list li{        /* Size of Every LI */
        width: calc(100% / 8);
        height: 10rem;
    }

    .social-list--link{
        gap: 1.2rem;
        flex-direction: column;
        justify-content: center;
    }

    .img-span {         /* Size of imgs of social list */
        max-height: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media only screen and (min-width: 1024px) {  /* Desktop - laptop */
    .main-social-tree {
        width: 100%;
        height: 20rem;
        max-height: 24vh;
        display: flex;
        flex-direction: row;
        margin-bottom: 0;
    }

    .social-tree-title {
        margin-bottom: 0;
        width: 16%;
    }

    .social-tree-title p{
        display: flex;
        align-items: center;
    }
    
}