.main-social-tree {     /* General distribution */
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 3.2rem;
}

.main-social-tree p:first-child {       /* Styles of title of social list */
    display: flex; 
    align-content: center;
    justify-content: center;
    width: 100%;
    padding: 1rem 0;
    margin-bottom: 1.2rem;
    background-color: var(--blue-sapphire);
    font-size: 1.4rem;
    color: white;
}

.social-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 2.4rem;
}

.social-list li{        /* Size of Every LI */
    width: 92%;
    height: 5rem;
}

.social-list--link{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100%;
    color: var(--midnight-green);
    font-size: 1.6rem;
    gap: 0.4rem;
    font-weight: bold;
    padding: 0.4rem;
    border: 0.4rem solid var(--blue-sapphire);
}

.img-span {         /* Size of imgs of social list */
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-span img {
    max-width: 100%;
    height: 100%;
    object-fit: contain;
}

@media only screen and (min-width: 768px) {
    .social-list {
        width: 92%;
        display: grid;
        grid-template-columns: 50% 50%;
        place-items: center;
    }

    .main-social-tree {     /* General distribution */
        align-items: center;
    }

    .social-list--link{
        gap: 1.2rem;
    }
}